/*FuturaPT*/
@font-face {
    font-family: 'FuturaPT-Light';
    src: url('FuturaPT-Light/FuturaPT-Light.eot');
    src: url('FuturaPT-Light/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
         url('FuturaPT-Light/FuturaPT-Light.woff') format('woff'),
         url('FuturaPT-Light/FuturaPT-Light.ttf') format('truetype'),
         url('FuturaPT-Light/FuturaPT-Light.svg#FuturaPT-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Medium';
    src: url('FuturaPT-Medium/FuturaPT-Medium.eot');
    src: url('FuturaPT-Medium/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
         url('FuturaPT-Medium/FuturaPT-Medium.woff') format('woff'),
         url('FuturaPT-Medium/FuturaPT-Medium.ttf') format('truetype'),
         url('FuturaPT-Medium/FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Bold';
    src: url('FuturaPT-Bold/FuturaPT-Bold.eot');
    src: url('FuturaPT-Bold/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
         url('FuturaPT-Bold/FuturaPT-Bold.woff') format('woff'),
         url('FuturaPT-Bold/FuturaPT-Bold.ttf') format('truetype'),
         url('FuturaPT-Bold/FuturaPT-Bold.svg#FuturaPT-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*WooCommerce Fonts*/
@font-face {
    font-family: 'star';
    src: url('wc-fonts/star.eot');
    src: url('wc-fonts/star.eot?#iefix') format('embedded-opentype'),
         url('wc-fonts/star.woff') format('woff'),
         url('wc-fonts/star.ttf') format('truetype'),
         url('wc-fonts/star.svg#star') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WooCommerce';
    src: url('wc-fonts/WooCommerce.eot');
    src: url('wc-fonts/WooCommerce.eot?#iefix') format('embedded-opentype'),
         url('wc-fonts/WooCommerce.woff') format('woff'),
         url('wc-fonts/WooCommerce.ttf') format('truetype'),
         url('wc-fonts/WooCommerce.svg#WooCommerce') format('svg');
    font-weight: normal;
    font-style: normal;
}
