
body * {
font-family: 'Aleo-Bold', sans-serif;
font-family: 'Aleo-Regular', sans-serif;

font-family: 'AnonymousPro-Regular', sans-serif;
font-family: 'AnonymousPro-Bold', sans-serif;

font-family: 'ApercuPro-Regular', sans-serif;
font-family: 'ApercuPro-Bold', sans-serif;

font-family: 'Century-Gothic-Regular', sans-serif;
font-family: 'Century-Gothic-Bold', sans-serif;

font-family: 'Circe-Bold', sans-serif;
font-family: 'Circe-Regular', sans-serif;

font-family: 'FuturaNew-Bold', sans-serif;
font-family: 'FuturaNew-Medium', sans-serif;

font-family: 'FuturaPT-Bold', sans-serif;
font-family: 'FuturaPT-Light', sans-serif;
font-family: 'FuturaPT-Medium', sans-serif;

font-family: 'GillSans-Bold', sans-serif;
font-family: 'GillSans-Regular', sans-serif;

font-family: 'GothamPro-Bold', sans-serif;
font-family: 'GothamPro-Regular', sans-serif;

font-family: 'HarmoniaSansProCyr-Regular', sans-serif;
font-family: 'HarmoniaSansProCyr-SemiBold', sans-serif;

font-family: 'HelveticaNeue-Bold', sans-serif;
font-family: 'HelveticaNeue-Medium', sans-serif;
font-family: 'HelveticaNeue-Regular', sans-serif;

font-family: 'Lato-Regular', sans-serif;
font-family: 'Lato-Bold', sans-serif;

font-family: 'Muller-Bold', sans-serif;
font-family: 'Muller-Regular', sans-serif;

font-family: 'MuseoSansCyrl-500', sans-serif;
font-family: 'MuseoSansCyrl-700', sans-serif;

font-family: 'MuseoSlabCyrl-500', sans-serif;
font-family: 'MuseoSlabCyrl-700', sans-serif;

font-family: 'MyriadPro-Regular', sans-serif;
font-family: 'MyriadPro-Semibold', sans-serif;

font-family: 'Neuron-Bold', sans-serif;
font-family: 'Neuron-Regular', sans-serif;

font-family: 'NimbusSansNovus-Bold', sans-serif;
font-family: 'NimbusSansNovus-Medium', sans-serif;

font-family: 'OfficinaSerif-BoldCTT', sans-serif;
font-family: 'OfficinaSerif-BookCTT', sans-serif;

font-family: 'PFAgoraSansPro-Bold', sans-serif;
font-family: 'PFAgoraSansPro-Regular', sans-serif;

font-family: 'PragmaticaSlab-Bold', sans-serif;
font-family: 'PragmaticaSlab-Book', sans-serif;
    
font-weight: normal;
font-style: normal;
}






