/*
 *
 * GOOGLE FONTS
 *
*/

/*
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');
font-family: 'PT Sans', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&subset=cyrillic');
font-family: 'Didact Gothic', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700&subset=cyrillic');
font-family: 'Fira Mono', monospace;

@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,500,600,700&subset=cyrillic');
font-family: 'Fira Sans Condensed', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700&subset=cyrillic');
font-family: 'Anonymous Pro', monospace;

@import url('https://fonts.googleapis.com/css?family=Scada:400,700&subset=cyrillic');
font-family: 'Scada', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic');
font-family: 'Poiret One', cursive;

@import url('https://fonts.googleapis.com/css?family=Cousine:400,700&subset=cyrillic');
font-family: 'Cousine', monospace;

@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700,900&subset=cyrillic');
font-family: 'Rubik', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Exo+2:400,500,600,700,900&subset=cyrillic');
font-family: 'Exo 2', sans-serif;
*/

/*  font-weight: 400!important; */
/*    font-family: 'Century-Gothic-Regular', sans-serif;*/
/*    font-family: 'Roboto Mono', sans-serif;*/
/*    font-family: 'PT Sans', sans-serif;*/
/*    font-family: 'Didact Gothic', sans-serif;*/
/*    font-family: 'Fira Sans Condensed', sans-serif;*/
/*    font-family: 'Fira Mono', monospace;*/
/*    font-family: 'Anonymous Pro', monospace;*/
/*    font-family: 'AnonymousProRegular', monospace;*/
/*    font-family: 'AnonymousProBold', monospace;*/
/*    font-family: 'Scada', sans-serif;*/
/*    font-family: 'Poiret One', cursive;*/
/*    font-family: 'Cousine', monospace;*/
/*    font-family: 'Rubik', sans-serif;*/
/*    font-family: 'Exo 2', sans-serif;*/