
/* variable product variations select */
table.variations.table select {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-radius: 0 !important;
}

.was-validated
table.variations.table select:valid ~ .valid-feedback,
.was-validated
table.variations.table select:valid ~ .valid-tooltip,
table.variations.table select.is-valid ~ .valid-feedback,
table.variations.table select.is-valid ~ .valid-tooltip,
.was-validated
table.variations.table select:invalid ~ .invalid-feedback,
.was-validated
table.variations.table select:invalid ~ .invalid-tooltip,
table.variations.table select.is-invalid ~ .invalid-feedback,
table.variations.table select.is-invalid ~ .invalid-tooltip {
    display: block;
}

table.variations.table select {
    display: inline-block;
    max-width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    line-height: 1.5;
}

table.variations.table select[multiple] {
    height: auto;
    background-image: none;
}

table.variations.table select::-ms-expand {
    opacity: 0;
}
