/* Main CSS Styles */

/* ------------------------------------------- */
/* ----------- GLOBAL START ------------------ */
/* ------------------------------------------- */
* {
    font-weight: normal!important;
}

#page .container-fluid {max-width: 1366px!important;}

.custom-select,
.popover,
body {
/*    font-family: 'Circe-Regular', sans-serif;*/
/*    font-family: 'OpenSans-Regular', sans-serif;*/
/*    font-family: 'OpenSans-SemiBold', sans-serif;*/
/*    font-family: 'Lato-Regular', sans-serif;*/
    font-family: 'Lato-Medium', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.navbar-light .navbar-brand,
body nav a,
body nav a:hover,
body a,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
/*    font-family: 'Circe-Regular', sans-serif;*/
/*    font-family: 'OpenSans-Regular', sans-serif;*/
/*    font-family: 'OpenSans-SemiBold', sans-serif;*/
/*    font-family: 'Lato-Regular', sans-serif;*/
    font-family: 'Lato-Medium', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.button,
.btn,
button, a {
    cursor: pointer;
}

/* -- HEADERS -- */
h1, .h1, .btn.h1 {font-size: 1.9rem!important;}
h2, .h2, .btn.h2 {font-size: 1.7rem!important;}
h3, .h3, .btn.h3 {font-size: 1.6rem!important;}
h4, .h4, .btn.h4 {font-size: 1.4rem!important;}
h5, .h5, .btn.h5 {font-size: 1.15rem!important;}
h6, .h6, .btn.h6 {font-size: 1rem!important;}
@media only screen and (max-width: 768px){
    h1, .h1, .btn.h1 {font-size: 1.4rem!important;}
    h2, .h2, .btn.h2 {font-size: 1.4rem!important;}
    h3, .h3, .btn.h3 {font-size: 1.25rem!important;}
    h4, .h4, .btn.h4 {font-size: 1.25rem!important;}
}

/* ------------------------------------------- */
/* ----------- GLOBAL END -------------------- */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* ----------- HEADER LEVEL START ------------ */
/* ------------------------------------------- */

.dropdown-menu {
    margin: 0rem 0 0;
    padding-top: 0;
}
.dropdown-toggle::after {
    display: none;
}

ul .dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0.5rem;
    left: 100%;
    margin-top: -0.5rem;
    margin-left: -2px;
}

.dropdown-menu,
ul.dropdown-submenu {
    padding: 2px!important;
}

/* fixed header menu */
.admin-bar .site-header .fixed-top.main-nav-level{
    padding-top: 40px;
    margin-top: -8px;
    transition: padding-top 0.4s;
    -webkit-transition: padding-top 0.4s;
}
.site-header .fixed-top.main-nav-level{
    padding-top: 0.8rem;
    margin-top: -0.8rem;
    transition: padding-top 0.4s;
    -webkit-transition: padding-top 0.4s;
}
.site-header .fixed-top.main-nav-level nav {
    padding-top: 0;
    padding-bottom: 0;
}

@media only screen and (min-width: 768px) {
    .mt84px {
        margin-top: 84px !important ;
    }
}


/* ------------------------------------------- */
/* ----------- HEADER LEVEL END -------------- */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* ----------- WOOCOMMERCE MINI CART START --- */
/* ------------------------------------------- */

.dropdown-menu.woocommerce-mini-cart {
    left: auto;
    right: 0;
}
/*
li.nav-item a.cart-contents.dropdown-toggle::after {
    display: none;
}
*/
.dropdown-menu.woocommerce-mini-cart .remove_from_cart_button {
    display: inline-block;
    padding: 0 0.5rem;
}

header li.woocommerce-mini-cart-item a img{
    max-width: 30px;
    height: auto;
    margin-bottom: 0.2rem;
    margin-right: 0.3rem;
}

/* ------------------------------------------- */
/* ----------- WOOCOMMERCE MINI CART END ----- */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* ----------- POLYLANG MENU START ----------- */
/* ------------------------------------------- */
.top-header-level ul.polylang-menu li a,
.top-header-level ul.polylang-menu li {
    padding-bottom: 0!important;
    padding-top: 0!important;
}
/* ------------------------------------------- */
/* ----------- POLYLANG MENU END ------------- */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* ----------- BREADCRUMBS START ------------- */
/* ------------------------------------------- */

/*.woocommerce-breadcrumb,*/
@media only screen and (max-width: 768px) {    
    .woocommerce-breadcrumb a{
        display: inline-block;
        border: 2px solid #E1E9EF!important;
        padding: 0.2rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        margin: 0.2rem;
    }
}

.woocommerce-breadcrumb {
    padding-right: 1rem;
    padding-left: 1rem;
}

.woocommerce-breadcrumb a{
    display: inline-block;
}

ol.breadcrumb {
    margin: auto;
}
.breadcrumb a,
.breadcrumb-item.active{
    display: inline-block;
}

/* ------------------------------------------- */
/* ----------- BREADCRUMBS END --------------- */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* ----------- SHOP SIDEBAR START ------------ */
/* ------------------------------------------- */

/* product search button */
form.search-form button.form-control,
form.woocommerce-product-search button.form-control {
    margin-left: -1px;
	margin-left: -3rem;
    width: 3rem !important;
}

form.woocommerce-product-search input,
form.search-form input {
    font-size: 1rem;
}

/* --- SIDEBAR MENU NAVIGATION START --- */
#secondary .widget_nav_menu h2 {
    padding: 0.5rem 1rem;
    font-size: 1.2rem!important;
    margin-bottom: 0;
}

#secondary .list-group-item {
    margin-bottom: 0!important;
}

#secondary li ul li.list-group-item {
    margin-bottom: 0 !important;
}

#secondary ul li.list-group-item a{
    padding-bottom: 0.5rem ;
    padding-top: 0.5rem ;
    font-size: 1rem!important;
}

#secondary .list-group-item .list-group-item a {
    font-size: 1rem!important;
}

/* ------------------------------------------- */
/* ----------- SHOP SIDEBAR END -------------- */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* ----------- CATALOG START ----------------- */
/* ------------------------------------------- */

/* woocommerce ordering */
form.woocommerce-ordering select {
    max-width: 14rem;
}

span.onsale {
    z-index: 1;
    position: absolute;
    top: 0;
    display: inline-block;
    
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    
    background-color: rgba(53,189,187, 0.5);
    color: #FFFFFF;
}

.single-product .site-main span.onsale {
    margin-left: 15px;
}

/* ------------------------------------------- */
/* ----------- CATALOG END ------------------- */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* ----------- SINGLE PRODUCT START ---------- */
/* ------------------------------------------- */

/* single-product gallery */
.woocommerce-product-gallery__trigger {
    position: absolute;
    top: 0rem;
    right: 1rem;
    font-size: 2rem;
    z-index: 9;
    text-indent: -9999px;
    border-radius: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background: url('../../../../plugins/woocommerce/assets/css/photoswipe/default-skin/default-skin.png') 0 0 no-repeat;
    background-size: 264px 88px;
    background-position: -88px 0;
    background-color: rgba(0,0,0,0.15);
    width: 44px;
    height: 44px;
}

ol.flex-control-nav.flex-control-thumbs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    margin-top: 0 !important;
}

ol.flex-control-nav.flex-control-thumbs li {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 0 !important;
    padding-right: 0!important;
    list-style-type: none;
}

ol.flex-control-nav.flex-control-thumbs li img {
    max-width: 100%;
    height: auto;
}
.woocommerce-product-gallery__wrapper .woocommerce-product-gallery__image a img.wp-post-image,
.woocommerce-product-gallery__image.flex-active-slide a img,
.woocommerce-product-gallery__image.flex-active-slide a,
img.attachment-woocommerce_single.size-woocommerce_single,
img.attachment-shop_single.size-shop_single {
    max-width: 100%;
    height: auto;
}

/*
.woocommerce-product-gallery .flex-viewport {
    max-height: 500px!important;
}
*/

/* product input qty */
input.input-text.qty.text {
    max-width: 5rem;
    padding-right: 0.2rem;
}

.featured-products.row .product img.img-fluid,
.products.row .product img.img-fluid {
    min-width: 80%;
}

/* ------------------------------------------- */
/* ----------- SINGLE PRODUCT END ------------ */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* ----------- CART PAGES START -------------- */
/* ------------------------------------------- */

/* thumbnails on cart page */
.woocommerce-cart-form__cart-item img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail,
.woocommerce-cart-form__cart-item .attachment-shop_thumbnail {
    max-width: 4rem;
    height: auto;
}

/* view cart link in catalog */
a.button+a.added_to_cart.wc-forward {
    text-align: center;
    display: block;
}

/* ------------------------------------------- */
/* ----------- CART PAGES END ---------------- */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* ----------- CHECKOUT PAGES START ---------- */
/* ------------------------------------------- */

/* checkout page span wraper input fields FIX */
body.woocommerce-checkout span.description,
body.woocommerce-checkout span.woocommerce-input-wrapper {
    width: 100%;
}

/* ------------------------------------------- */
/* ----------- CHECKOUT PAGES END ------------ */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* ----------- COMMENTS START ---------------- */
/* ------------------------------------------- */

/* single-product comments */
ol.commentlist li.comment {
    list-style-type: none;
}
ol.commentlist {
    padding-left: 0.25rem !important;
}

/* single-post comments */
ol.comment-list li.comment {
    list-style-type: none;
}
ol.comment-list {
    padding-left: 0.25rem !important;
}

/* ------------------------------------------- */
/* ----------- COMMENTS END ------------------ */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* ----------- SCROLL TO TOP BUTTON START ---- */
/* ------------------------------------------- */

.totopbtn {
    position: fixed;
    bottom: 5rem;
    right: 1rem;
    font-size: 2.5rem;
}

/* ------------------------------------------- */
/* ----------- SCROLL TO TOP BUTTON END ------ */
/* ------------------------------------------- */

/* ------------------------------------------- */
/* ----------- PAGINATION START -------------- */
/* ------------------------------------------- */
.page-links.d-table span, .page-links.d-table a, .woocommerce-pagination span, .woocommerce-pagination a {
    padding: 0.4rem 0.8rem;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}

.page-links.d-table span, .page-links.d-table a, .woocommerce-pagination span, .woocommerce-pagination a {
    padding: 0.4rem 0.8rem;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}
/* ------------------------------------------- */
/* ----------- PAGINATION END ---------------- */
/* ------------------------------------------- */
