/* Main CSS Styles */

* {
    font-weight: normal!important;
}

.button,
.btn,
button, a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: #3C5363;
}

.dropdown-menu {
    margin: 0rem 0 0;
}

.admin-bar .site-header.fixed-top {
    padding-top: 40px;
    margin-top: -8px;
    transition: padding-top 0.3s;
    -webkit-transition: padding-top 0.3s;
}
.site-header.fixed-top {
    padding-top: 0.8rem;
    margin-top: -0.8rem;
    transition: padding-top 0.3s;
    -webkit-transition: padding-top 0.3s;
}
.site-header.fixed-top nav {
    padding-top: 0;
    padding-bottom: 0;
}

.popover,
body {
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    font-style: normal;
    color: #3C5363;
}

.navbar-light .navbar-brand,
body nav a,
body nav a:hover,
body a,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    font-family: 'FuturaPT-Medium';
    font-weight: normal;
    font-style: normal;
    color: #698090;
}

/*single-product gallery*/
.woocommerce-product-gallery__trigger {
    position: absolute;
    top: 0rem;
    right: 1rem;
    font-size: 2rem;
    z-index: 9;
    text-indent: -9999px;
    border-radius: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background: url('../../../../plugins/woocommerce/assets/css/photoswipe/default-skin/default-skin.png') 0 0 no-repeat;
    background-size: 264px 88px;
    background-position: -88px 0;
    background-color: rgba(0,0,0,0.15);
    width: 44px;
    height: 44px;
}

/*.woocommerce-product-gallery .flex-viewport img,*/
.woocommerce-product-gallery .flex-viewport {
    max-height: 1000px!important;
}

input.input-text.qty.text {
    max-width: 5rem;
    padding-right: 0.2rem;
}

/*single-product cart*/
.woocommerce-cart-form__cart-item img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail,
.woocommerce-cart-form__cart-item .attachment-shop_thumbnail {
    max-width: 4rem;
    height: auto;
}

a.button+a.added_to_cart.wc-forward {
    text-align: center;
    display: block;
}

/*single-product comments*/
ol.commentlist li.comment {
    list-style-type: none;
}

/*single-post comments*/
ol.comment-list li.comment {
    list-style-type: none;
}

